<button class="hamburger hide-for-large" type="button" role="button" aria-label="open offcanvas menu" aria-controls="offcanvas" aria-expanded="false" >
    <span class="show-for-sr">Menu toggle</span>
    <span class="hamburger__line hamburger__line--1"></span>
    <span class="hamburger__line hamburger__line--2"></span>
    <span class="hamburger__line hamburger__line--3"></span>
</button>