header.template-header {
    --template-header-headline-gap: var(--spacing-2);

    display: flex;
    row-gap: var(--template-header-headline-gap);
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: var(--spacing-12);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include breakpoint(medium) {
            span {
                display: block;
            }
        }
    }

    .grid-container {
        display: flex;
        row-gap: var(--template-header-headline-gap);
        flex-direction: column;
        align-items: flex-start;
    }

    &.align-center {
        text-align: center;

        .grid-container {
            align-items: center;
        }
    }
}
