/**
* @param {string} class
* @param {string} style
* @param {string} color
* @param {string} background
* @param {string} tag
* @param {array} items
* @param {string} align - full | left | right | wide
* @param {string} id
* @param {string} customStyle
*/

{% macro render( props ) %}

    {% set classes = ([
        props.class if props.class,
        'has-text-color has-' + props.color + '-color' if props.color,
        'has-background has-' + props.background + '-background-color' if props.background,
        'has-' + props.fontSize + '-font-size' if props.fontSize,
        'align' + props.align if props.align,
        'is-style-' + props.customStyle if props.customStyle
    ]) | toClassNames %}

    {% set styles = ([
        props.style if props.style
    ]) | toStyleString | safe %}

    {%  set id = ' id="' + props.id + '"' if props.id %}

    <figure class="wp-block-table{{ classes }}"{{ styles }}{{ id }}>

        {% if props.innerContent %}

            {% include props.innerContent %}

        {% endif %}

        {% if caller %}{{ caller()  }}{% endif %}

    </figure>

{% endmacro %}
