section.content-block.template-protected {
    form {
        [type="password"] {
            display: block;
            margin-right: auto;
            margin-bottom: 2rem;
            margin-left: auto;
            outline: none;
            border: 2px solid;
            background: none;
            background: var(--white);
            padding: rem-calc(5 10);
            width: 100%;
            max-width: rem-calc(300);
            height: rem-calc(40);
            color: var(--black);
        }
    }
}
