section.content-block {
    position: relative;
    margin-top: var(--base-margin);

    &:last-of-type {
        margin-bottom: var(--base-margin);
    }

    @each $name, $value in $template-spacings {
        @each $spacings-prop, $spacings-value in $spacings-props {
            &.#{$spacings-prop}-#{$name} {
                #{$spacings-value}: var(--template-spacing-#{$name}) !important;
            }
        }
    }
}

section[class*="bg-"] {
    padding-top: var(--base-padding);
    padding-bottom: var(--base-padding);

    &:last-of-type {
        margin-bottom: 0;
    }

    &:first-of-type {
        margin-top: 0;
    }

    & + section[class*="bg-"] {
        margin-top: 0;
    }
}
