@use "sass:map";
@use "sass:meta";

$breakpoints: (
	small: 0,
	medium: 768,
	large: 1024,
	xlarge: 1280,
	xxlarge: 1536,
);

$breakpoint-classes: (small medium large);

$palette: (
	"black": #000,
	"white": #fff,
	"red": #b41111,
);

$backgrounds: ("black", "red");

$spacing: (
	0: 0,
	px: 1px,
	1: rem-calc(4),
	2: rem-calc(8),
	3: rem-calc(12),
	4: rem-calc(16),
	5: rem-calc(20),
	6: rem-calc(24),
	7: rem-calc(28),
	8: rem-calc(32),
	9: rem-calc(36),
	10: rem-calc(40),
	11: rem-calc(44),
	12: rem-calc(48),
	14: rem-calc(56),
	16: rem-calc(64),
	20: rem-calc(80),
	24: rem-calc(96),
	28: rem-calc(112),
	32: rem-calc(128),
	36: rem-calc(144),
	40: rem-calc(160),
	44: rem-calc(176),
	48: rem-calc(192),
	52: rem-calc(208),
	56: rem-calc(224),
	60: rem-calc(240),
	64: rem-calc(256),
	72: rem-calc(288),
	80: rem-calc(320),
	96: rem-calc(384),
);

$font-sizes: (
	"h1": min-max(61, 76),
	"h2": min-max(49, 61),
	"h3": min-max(39, 49),
	"h4": min-max(31, 39),
	"h5": min-max(25, 31),
	"h6": min-max(20, 25),
	"body": rem-calc(16),
	"body-large": rem-calc(18),
	"body-small": rem-calc(14),
);

$module-spacings: (
	"none": 0,
	"sm": rem-calc(16),
	"md": rem-calc(24),
	"lg": rem-calc(32),
);

$template-spacings: (
	"none": 0,
	"sm": min-max(64, 96),
	"md": min-max(80, 128),
	"lg": min-max(112, 160),
);

$spacings-props: (
	"mt": "margin-top",
	"mb": "margin-bottom",
	"pt": "padding-top",
	"pb": "padding-bottom",
);

:root {
	// fonts
	--primary-font: "Arial", sans-serif;
	--secondary-font: "Times New Roman", serif;

	// colors
	--inverse: var(--white);
	--body-color: var(--black);
	--body-bg: var(--white);
	--link-color: var(--red, #b41111);
	--link-hover-color: var(--body-color);
	--primary-color: var(--black);
	--error-color: var(--red, #b41111);

	// theme colors
	@each $prop, $value in $palette {
		--#{$prop}: #{$value};
	}

	// spacings
	@each $prop, $value in $spacing {
		--spacing-#{$prop}: #{$value};
	}

	@each $prop, $value in $module-spacings {
		--module-spacing-#{$prop}: #{$value};
	}

	@each $prop, $value in $template-spacings {
		--template-spacing-#{$prop}: #{$value};
	}

	// font-sizes
	@each $prop, $value in $font-sizes {
		--font-size-#{$prop}: #{$value};
	}

	// layout
	--content-width: #{rem-calc(1280)};
	--content-padding: #{rem-calc(24)};
	--grid-column-gap: #{rem-calc(30)};
	--grid-row-gap: var(--spacing-6);
	--base-margin: var(--template-spacing-md);
	--base-padding: var(--template-spacing-md);
	--module-padding: var(--module-spacing-md);
	--module-margin: var(--module-spacing-md);

	// for gutenberg
	/* stylelint-disable */
	//--content-width-wide: #{rem-calc(1724)};
	//--content-width-full: calc(var(--vw, 1vw) * 100);
	//--content-height-full: calc(var(--vh, 1vh) * 100);
	//--content-padding-negative: calc(var(--content-padding) * -1);
	//--section-margin: #{min-max(120, 200)};
	//--section-padding: #{min-max(120, 200)};
	//--block-margin: #{rem-calc(40)};
	/* stylelint-enable */

	// other
	--p-margin: var(--spacing-6);
	--tr: 0.3s;

	// site header
	--site-header-z-index: 1040;
	--site-header-bg: var(--white);

	// offcanvas
	--offcanvas-z-index: 1045;
	--offcanvas-color: var(--inverse);
	--offcanvas-bg: var(--black);
	--offcanvas-width: 25rem;

	// modals
	--modal-z-index: 1050;
	--modal-backdrop-z-index: 1049;

	// forms
	--form-input-border-color: var(--black);
	--form-input-bg-color: var(--white);
	--form-input-color: var(--black);
	--form-input-border-radius: 0;
	--form-row-gap: 1.875rem;
	--form-column-gap: 1.25rem;
	--form-checkbox-color-active: var(--black);
	--form-checkbox-color: var(--black);
	--form-checkbox-bg: transparent;
}
