{% call column({
    contentWidth: 500
}) %}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores dignissimos eaque facilis ipsum labore magni nemo nostrum praesentium voluptates? Hic iure nihil repellendus reprehenderit sequi vitae voluptas. Consequatur, numquam.</p>

{% endcall %}

