{% call column() %}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolore facilis, fuga laboriosam molestiae molestias nemo, non obcaecati omnis perferendis quisquam quo sint vitae! Dicta laborum molestiae neque reiciendis veniam!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolore facilis, fuga laboriosam molestiae molestias nemo, non obcaecati omnis perferendis quisquam quo sint vitae! Dicta laborum molestiae neque reiciendis veniam!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolore facilis, fuga laboriosam molestiae molestias nemo, non obcaecati omnis perferendis quisquam quo sint vitae! Dicta laborum molestiae neque reiciendis veniam!</p>

{% endcall %}

{% call column() %}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolore facilis, fuga laboriosam molestiae molestias nemo, non obcaecati omnis perferendis quisquam quo sint vitae! Dicta laborum molestiae neque reiciendis veniam!</p>

{% endcall %}
