.grid-container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 var(--content-padding);
    max-width: calc(var(--content-width) + var(--content-padding) * 2);
}

main.content {
    flex-grow: 1;
    overflow: clip;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    > * {
        width: 100%;
    }
}

// for gutenberg
//main.content {
//    flex-grow: 1;
//    overflow: clip;
//    @include content-layout;
//
//    > * {
//        &:last-child {
//            margin-bottom: var(--section-margin);
//
//            &.wp-block-ssm-section-wrapper {
//                margin-bottom: 0;
//            }
//        }
//    }
//}
