.wp-block-group {
    // margins
    &:not(.is-layout-flex) {
        > * + * {
            margin-block-start: var(--block-margin);
            margin-block-end: 0;
        }
    }

    &.is-layout-flex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--block-margin);

        > * {
            margin: 0;
        }
    }
}
