.module.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem-calc(20);

    &.align-center {
        justify-content: center;
    }

    &.align-right {
        justify-content: flex-end;
    }

    &.is-stacked {
        flex-direction: column;
        align-items: flex-start;

        &.align-center {
            align-items: center;
        }
    }
}
