.module.video {
    video[poster] {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    video,
    iframe {
        display: block;
        border: 0;
        max-width: 100%;
    }

    .video__responsive-wrapper {
        position: relative;
        padding-top: 56.25%;

        video,
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .plyr {
        &__poster {
            background-size: cover;
        }

        &__controls {
            transform: translateY(100%);
            opacity: 0;
            pointer-events: none;
        }

        &--playing {
            .plyr__controls {
                transform: translateY(0);
                opacity: 1;
                pointer-events: all;
            }

            &::after {
                opacity: 0;
            }
        }
    }

    .entry-content-asset {
        width: 100%;
    }

    &:not(.has-controls) {
        .plyr__controls {
            display: none !important;
        }
    }
}
