<table>
    <thead>
        <tr>
            <th>Table heading</th>
            <th>Table heading</th>
        </tr>
    </thead>

    <tbody>

    <tr>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias autem beatae commodi deleniti illum iure modi mollitia numquam optio, quae, sapiente, vero voluptatum! Deleniti ducimus impedit obcaecati officiis velit?</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias autem beatae commodi deleniti illum iure modi mollitia numquam optio, quae, sapiente, vero voluptatum! Deleniti ducimus impedit obcaecati officiis velit?</td>
    </tr>
    <tr>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias autem beatae commodi deleniti illum iure modi mollitia numquam optio, quae, sapiente, vero voluptatum! Deleniti ducimus impedit obcaecati officiis velit?</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias autem beatae commodi deleniti illum iure modi mollitia numquam optio, quae, sapiente, vero voluptatum! Deleniti ducimus impedit obcaecati officiis velit?</td>
    </tr>

    </tbody>

    <tfoot>
        <tr>
            <td>Table footer</td>
            <td>Table footer</td>
        </tr>
    </tfoot>
</table>